.pantalla{
    background-color: #808080;
}
p{
    display: flex;
    justify-content: center;
    font-size: 25pt;
}
h3{
    font-size: 25pt;
    display: flex;
    justify-content: center;
}
button{
    margin: 1rem;
    font-size: 15pt !important;
}

